# Dependencies
node_modules/

# Build
dist/
dist_test/
coverage/

# TypeScript incremental cache (bloquea builds en Docker)
*.tsbuildinfo

# Environment
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/.migration_lock.toml
